<<<<<<< HEAD
<div class="card">
    <div class="img-container"">
        <img src="image">
    </div>
    <div class="card-content" id="card-template">
        <h3>{{title}}</h3>
        <p>Price: ${{price}}</p>
        <p>Bedroom: {{bedroom}}</p>
        <p>Bathroom: {{bathroom}}</p>
        <p>City: {{city}}</p>
        <p>State: {{state}}</p>
    </div>
</div>
=======
{{!-- <a href="/card/{{id}}" class="link"> --}}
    <div class="card">
        <div class="img-container">
            <img src="{{image}}">
        </div>
        <div class="card-content">
            <h3>{{title}}</h3>
            <p>Price: ${{price}}</p>
            <p>Bedroom: {{bedroom}}</p>
            <p>Bathroom: {{bathroom}}</p>
            <p>City: {{city}}</p>
            <p>State: {{state}}</p>
        </div>
    </div>
{{!-- </a> --}}
>>>>>>> 4d340f693eb6577ca487428e1f9dd1e1a311174c
