

{{#each listings}}
  <div class="listing">
    <h3>{{this.location}}</h3>
    <p>Rooms: {{this.number_of_rooms}}</p>
    <p>Bathrooms: {{this.number_of_bathrooms}}</p>
    <p>Square Footage: {{this.square_footage}}</p>
    <p>City: {{this.city}}</p>
    <p>State: {{this.state}}</p>
    <p>Price: ${{this.price}}</p>
  </div>
{{/each}}



