<h2>{{location}}</h2>
<p>Rooms: {{number_of_rooms}}</p>
<p>Bathrooms: {{number_of_bathrooms}}</p>
<p>Square Footage: {{square_footage}}</p>
<p>City: {{city}}</p>
<p>State: {{state}}</p>
<p>Price: ${{price}}</p>
